@{
	ViewBag.Title = "Text Encoding in ASP.NET MVC Sample by Michael Kennedy";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>An MVC Text Encoding Sample App</h1>
                <h2>by Michael Kennedy</h2>
            </hgroup>
			<p>
				Visit <a href="http://blog.michaelckennedy.net">my blog</a>, <a href="http://www.youtube.com/user/mkennedy66996694">my youtube channel</a>, or follow me on twitter (<a href="http://twitter.com/mkennedy">@@mkennedy</a>) for more info.
			</p>
			<p>
				Sample for my blog post: <a href="http://blog.michaelckennedy.net/2012/10/15/understanding-text-encoding-in-asp-net-mvc" target="_blank">blog.michaelckennedy.net/2012/10/15/understanding-text-encoding-in-asp-net-mvc</a><br/>
				Download the source for this sample: <a href="https://github.com/mikeckennedy/text-encoding-aspnet-mvc-by-example" target="_blank">text-encoding-aspnet-mvc-by-example on GitHub</a>
			</p>
        </div>
    </section>
}

<h3>This sample demonstrates the following</h3>
<ul style="line-height: 2em;">
	<li><a href="~/home/unsafeforum">Unsafe Forum: Displaying untrusted content is probably a bad idea</a></li>
	<li><a href="~/home/forum">Forum: Using @@ to safely display untrusted content</a></li>
	<li><a href="~/home/cms">CMS: Html.Raw() helper function for trusted HTML content</a></li>
	<li><a href="~/home/helpers">Helpers: Using MvcHtmlString for bridging code and Razor</a></li>
</ul>
